@-webkit-keyframes filter-animation {
    0% {
        filter: opacity(0) brightness(0);
    }
    50% {
        filter: opacity(100) brightness(75);
    }
    75% {
        filter: opacity(100) brightness(100);
    }
    100% {
        filter: opacity(100) brightness(100);
    }
}
